[submodule "third_party/sdbus-cpp"]
	path = third_party/sdbus-cpp
	url = https://github.com/Kistler-Group/sdbus-cpp.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/glaze"]
	path = third_party/glaze
	url = https://github.com/stephenberry/glaze.git
